body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url("main1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  text-align: center;
  padding: 60px 20px;
  color: white;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

h2>a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 600;
}

h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

.members a {
  font-size: 18px;
  margin: 8px 0;
  font-weight: 500;
  display: block;
  text-decoration: none;
  color: white;
}
